[DEFAULT]
rra_filename: /var/rrdtool/wan_traffic.rra
graph_height: 300
graph_width: 500
graph_basedir: /var/www/htdocs/pics
# graph type for up/downstream: LINEx (where x = line width), AREA
# more information about plotting
# https://oss.oetiker.ch/rrdtool/doc/rrdgraph_graph.en.html
graph_type_up: LINE1
graph_type_down: LINE1
# graph color for up/downstream in RGB from 00 to FF in 000000 format
graph_color_up: ff0000
graph_color_down: 0000ff


# definitions of graphs to be plotted
# each section corresponds to one graph
[day]
# interval in seconds to be plotted
interval: 86400
# title of plot
title: Traffic of last day
# filename of plot
filename: %(graph_basedir)s/traffic_1d.png

[week]
# interval in seconds to be plotted
interval: 604800
# title of plot
title: Traffic of last week
# filename of plot
filename: %(graph_basedir)s/traffic_1w.png

[month]
# interval in seconds to be plotted
interval: 2592000
# title of plot
title: Traffic of last month
# filename of plot
filename: %(graph_basedir)s/traffic_1m.png

